@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Manoj Kumar Reddy Lingala<br />
    Unit 5407/ 570 Lygon Street ,Carlton ,VIC -3053<br />
    <abbr title="Phone">P:</abbr>
    0469032499
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mkumarreddy85@outlook.com">mkumarreddy85@outlook.com</a><br />
</address>
